html,
body {
  color: $colour--neutral--dark;
  background-color: $colour--neutral--light;

  // @media (prefers-color-scheme: dark) {
  //   color: $colour--neutral--light;
  //   background-color: $colour--neutral--dark;
  // }
}

main {
  @extend .height--screen;
}

h1 {
  font-family: $font-family--heading-default;
  font-size: $font-size--xl;
}
