// COLOURS
$colour--green: #22c55e;
$colour--neutral--dark: #262626;
$colour--neutral--light: #f5f5f5;

$colour--black: #000000;
$colour--white: #ffffff;

// FONTS
$font-family--heading-default: "Gloock", serif;
$font-family--heading-alt: "League Gothic", sans-serif;
$font-family--default: "Playfair Display", serif;
$font-family--alt: "Inter", sans-serif;

$font-size--xl: 5rem;

// HEIGHT
$height--screen: 100vh;

// PADDINGS
$padding--default: 2rem;
