body {
  background-color: #393E41;
  color: #F6F7EB;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


/* font families */
.font-headings {
  font-family: 'Silkscreen', cursive;
  font-weight: 400;
}


/* contact section */
.top-right {
  position: absolute;
  top: 2em;
  right: 2.5em;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

a { color: #F6F7EB; }
a:hover { cursor: pointer; }


/* title section */
.centre-v-h {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

h1 {
  position: relative;
  left: -0.6em;
  font-size: 3em;
}


/* waving hand animation */
.wave-animation {
  animation-name: waving-hand;
  animation-duration: 2.5s;
  animation-iteration-count: 3;

  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waving-hand {
   0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
 100% { transform: rotate( 0.0deg) }
}


/* mobile size */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
    left: -0.2em;
  }
  
  li { font-size: 1.2em; }
}
